.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vw);
}

.buttonBlock {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 20vw;
  height: 10wh;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  font-size: calc(10px + 1vw);
}

.checking_button {
  background-color: lightyellow;
}

.success_button {
  background-color: lightgreen;
}

.checking_input {
  width: 30vw;
  height: 5wh;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  outline: none;
  font-size: calc(10px + 1vw);
}

/* warm-up */
.content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vw);
}

.content a {
  text-decoration: none;
  color: antiquewhite;
}

.content img {
  width: 300px;
  height: 300px;
}

.content_input {
  width: 30vw;
  height: 5wh;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: calc(10px + 1vw);
}

.content_label {
  max-width: 60vw;
  margin-bottom: 10px;
  font-size: calc(20px + 2vw);
}

/* task 1 */
.table {
  width: 50vw;
  height: 50vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(20px + 2vw);
}

.table_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_input {
  border-radius: 5px;
  width: calc(13px + 1vw);
  height: calc(13px + 1vw);
  max-width: 40px;
  max-height: 40px;
  text-align: center;
  font-size: calc(10px + 1vw);
  outline: none;
}

/* films */

.film {
  margin: 0 20px 10px;
  font-size: calc(10px + 1vw);
}

.film_addition {
  font-weight: bold;
}

.film_input {
  margin: 10px 0;
}

/* notes */ 

.line {
  margin: 5px 0;
}